body {
    background-color: black;
}

h1 {
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
}

.content {
    text-align: center;
    color: white;
    width: 50%;
    margin-left: 25%;
}

/* Você pode usar o margin 0 auto que é mais profisisonal -
meu comentário (Thalles). */

.image {
    border: 5px solid white;
    width: 100%;
}

